.block_1 {
    background-color: red;
    width: 400px;
    margin: auto;
    height: 150px;
    position: relative;
    z-index: 1;
}

.block_2 {
    background-color: #00a651;
    width: 300px;
    margin: auto;
    height: 150px;
   /* margin-top: -25px;*/
    position: relative;
    top: -25px;
    z-index: 0;
}

.block_3 {
    background-color: yellow;
    width: 200px;
    margin: auto;
    height: 150px;
}
.nav{
    background-color: #00a651 ;
    max-width: 400px;
    height: 300px;
    position: relative;
    z-index: 0;
    margin: auto;
}
.cs {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 40px solid #D0D4DC;
    border-bottom: 50px solid transparent;
    position: absolute;
    left: 50%;
    top:50%;
    margin-top: -15px;
    margin-left: -20px;


}
footer {
    position: relative;
    height: 400px;
    z-index: 0;
}
body{
    height: 2000px;
}
.fix{
    position: fixed;
    right: 0;
    top: 250px;
    z-index: 1;
}
.fix a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: red;
    margin-top: 10px;
    padding: 5px;




}
.block_4 {
    background-color: chocolate;
    width: 75%;
    height: 375px;

}